* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#canvas {
    width: 600px;
    height: 400px;
    border: 2px solid rgb(143, 141, 141);
    background-color: white;
}

#cloud1, #cloud2, #cloud3, #bird1, #bird2, #bird3, #bird4{
    display: none;
}